#tittle{
    padding-top: 50px;
}
#imagen-inicio{
    height: 200px;
    position: relative;
    animation-name: animacion-usuario;
    animation-duration: 4s;
}  
@keyframes animacion-usuario {
    0%   {left:-100px; top:0px;}
    40%  {left:100px; top:0px;}
    80%  {left:-100px; top:0px;}
    100% {left:0px; top:0px;}
}

#button-inicio-sesion{
   display: flex;
   justify-content: center; 
}
#buttonn{
    width: 90%;
    height: 50% !important;
 }