<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-title class="titulo_usuario">Usuario</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="inicio-sesion">
  <div id="inicio-sesion">
    <ion-img #imagen class="imagen-inicio" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png"></ion-img>
      <div class="titulo_inicial">Bienvenido</div>
    <form [formGroup]="formularioLogin">
      <ion-item>
        <ion-input labelPlacement="floating" formControlName="nombre" class="input" type="text" placeholder="ejemplo@mail.com">
          <div slot="label">Nombre de usuario</div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="floating" formControlName="contrasena" class="input" type="password" placeholder="***********">
          <div slot="label">Contraseña</div>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button class="borrar" type="submit" color="primary" expand="block" (click)="ingresar()">Ingresar</ion-button>
        </ion-col>
      </ion-row>
      <div style="display: flex; justify-content: center;">
        <ion-button fill="clear" href="/recuperar">Recuperar contraseña</ion-button>
      </div>
      <div style="display: flex; justify-content: center;">
        <ion-button fill="clear" href="/registro">Crear cuenta</ion-button>
      </div>
    </form>
  </div>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-back-button color="dark" text="Volver" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-footer> 