.imagen-inicio{
    height: 200px;
    position: relative;
    animation-name: animacion-usuario;
    animation-duration: 4s;
}  

.titulo_inicial{
    font-weight: bold;
    text-align: center;
    
}
.titulo_usuario{
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: -1;
}