<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-title class="titulo_registro">Registro</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="form" [formGroup]="formularioLogin">
    <p class="message">Registrate para porder acceder a la app completa</p>
    <div class="flex">
      <ion-item lines="full">
        <ion-input labelPlacement="floating" formControlName="nombre" class="input" type="text" placeholder="Alguien">
          <div slot="label">Nombre</div>
        </ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input labelPlacement="floating" formControlName="apellido" class="input" type="text" placeholder="Ejemplo">
          <div slot="label">Apellido</div>
        </ion-input>
      </ion-item>
    </div>  
    <ion-item lines="full">
      <ion-input labelPlacement="floating" formControlName="correo" class="input" type="text" placeholder="ejemplo@mail.com">
        <div slot="label">Correo</div>
      </ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input labelPlacement="floating" formControlName="contrasena" class="input" type="password" placeholder="Contraseña">
        <div slot="label">Contraseña</div>
      </ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input labelPlacement="floating" formControlName="c_contrasena" class="input" type="password" placeholder="Confirmar ontraseña">
        <div slot="label">Confirmar ontraseña</div>
      </ion-input>
    </ion-item>
    <ion-button class="submit" type="submit" (click)="registrar()">Registrarse</ion-button>
    <p class="signin">¿Ya tienes una cuenta? <a href="#">Ingresar</a> </p>
  </form>
</ion-content>
