<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-title class="titulo_clima">Clima</ion-title>
    </ion-buttons>      
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <div style="padding: 10px; color: black; font-size: 15px; text-align: justify;">
      <strong>Aqui te entregamos información del clima que te podria ayudar a escoger tu ropa de hoy <br> Que tengas un lindo día!</strong></div>
  </ion-card>

  <div class="claseclima">
    <div class="cardContainer">
      <div class="card">
        <p class="city">Temperatura actual</p>        
        <p class="temp">{{(weatherTemp.temp - 273.15) | number:'.1'}}°C</p>
        <div class="minmaxContainer">
          <div class="min">
            <p class="minHeading">Min</p>
            <p class="minTemp">{{(weatherTemp.temp_min - 273.15) | number:'.1'}}°C</p>
          </div>
          <div class="max">
            <p class="maxHeading">Max</p>
            <p class="maxTemp">{{(weatherTemp.temp_max - 273.15) | number:'.1'}}°C</p>
          </div>
        </div>
        <div>
          <p class="humedad">Humedad: {{(weatherTemp.humidity)}}%</p>
          <p class="humedad">Sensación Térmica : {{(weatherTemp.feels_like - 273.15) | number:'.1'}}°C</p>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>










<!---

<ion-content >
  <ion-card>
    <div style="padding: 10px; color: black; font-size: 15px; text-align: justify;">
      <strong>Aqui te entregamos información del clima que te podria ayudar a escoger tu ropa de hoy <br> Que tengas un lindo día!</strong></div>
  </ion-card>
  <ion-card>
    <ion-item >
       <div class="elclima"><div>Temperatura actual:</div>  <div>{{(weatherTemp.temp - 273.15) | number:'.2'}}°C</div></div>
    </ion-item>
    <br>
    <ion-item >
      <div class="elclima">Temperatura máxima:  <div>{{(weatherTemp.temp_max - 273.15) | number:'.2'}}°C</div></div>
    </ion-item>
    <br>
    <ion-item >
      <div class="elclima">Temperatura mínima:  <div>{{(weatherTemp.temp_min - 273.15) | number:'.2'}}°C</div></div>
    </ion-item>
    <br>
    <ion-item >
      <div class="elclima">Humedad:  <div>{{(weatherTemp.humidity)}}°C</div></div>
      <div><img [src]=weatherIcon alt=""></div>
    </ion-item>
  </ion-card>
</ion-content>
--->
