<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-title class="titulo_contacto">Contacto</ion-title>
    </ion-buttons>      
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="contenito_contacto">
  <ion-list>
    <ion-card style="padding: 5px; color: black;" ><div><strong>Para dudas/consultas o solicitar ayuda, comunicate con nosotros.</strong></div>
      <ion-card style="padding: 5px; color: black;">En caso de problemas, rellena nuestro formulario, envia un correo o llámanos.</ion-card>
      <ion-card>
        <ion-item>+56 9 12345678</ion-item>
        <ion-item>Correo: mesadeayuda@duocuc.cl</ion-item>
      </ion-card>
    </ion-card>
    <ion-card style="padding: 5px; color: black;">
      

      <form class="form">
        <p class="message" style="text-align: center;"><strong>Formulario de notificación de problemas</strong></p>
        <div class="flex">
          <ion-item lines="full">
            <ion-textarea #Texto labelPlacement="floating"  class="input" type="text" >
              <div slot="label">Describe el problema.</div>
            </ion-textarea>
          </ion-item>
          <div style="display: flex; justify-content: end;"><ion-button (click)="enviarFormulario()" type="submit" fill="clear" style="color: black;">Enviar</ion-button></div>
        </div>  
      </form>


    </ion-card>
  </ion-list>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-back-button color="dark" text="Volver" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-footer>