ion-checkbox {
    --size: 30px;
    --checkbox-background-checked: #797979;
  }
  
  .box1{
    display: flex;
    justify-content: center;
  }
  
  .button1{
    display: flex;
    justify-content: center;
  
  }