<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-title class="titulo_recuperar">Recuperar contraseña</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
        <h1>Correo de recuperación</h1>
  <ion-list>
    <ion-item>
      <ion-input labelPlacement="floating" value="">
        <div slot="label">Email <ion-text color="danger">(Obligatorio)</ion-text></div>
      </ion-input>
    </ion-item>
  </ion-list>
  <div style="margin-top: 50px;">
    <ion-checkbox class="box1" >No soy un robot</ion-checkbox>
  </div>
  <div style="margin-top: 50px;">
    <ion-button  class="button1" href="/usuario">Recuperar</ion-button>
  </div>
</ion-content>