ion-checkbox {
    --size: 30px;
    --checkbox-background-checked: #797979;
  }
  
  .box1{
    display: flex;
    justify-content: center;
  }
  
  .button1{
    display: flex;
    justify-content: center;
  
  }
  .titulo_recuperar{
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: -1;
  }