#qrcode{
    width: 200px;
}
#contenidoqr{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#iconoqr{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.titulo_inicio{
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: -1;
}