<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-title class="titulo_perfil">Perfil</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="personaje">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <img src="{{ personaje.image }}">
        <h1>{{ personaje.name}}</h1>
        <h1>{{ personaje.id}}</h1>
        <h2>{{ personaje.species}}</h2>
        <p>{{ personaje.gender}}</p>
        <p>{{ personaje.status}}</p>
        <p>{{ personaje.location.name}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-back-button color="dark" text="Volver" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-footer>