<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
      <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="presentacion_asistencia">

  <div class="ion-padding">Programación de Base de Datos.</div>

  <ion-list>
    <ion-item>Docente: Ivan David B.</ion-item>
    <ion-item>Jornada: Diurno AM</ion-item>
    <ion-item>Porcentaje de asistencia: 75%</ion-item>
    <ion-item>Clases: 4 de 6</ion-item>
  </ion-list>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-back-button color="dark" text="Volver" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-footer>