<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-title class="titulo_asistencia">Asistencia</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="presentacion_asistencia">

  <div class="ion-padding">Programación de Base de Datos.</div>
  <ion-card>
    <ion-card class="dia">Base de datos                         <div>56%</div> </ion-card>
    <ion-card class="dia">Ingles basico 1                       <div>56%</div> </ion-card>
    <ion-card class="dia">Programacion de aplicaciones moviles  <div>56%</div> </ion-card>
    <ion-card class="dia">Estadistica descriptiva               <div>56%</div> </ion-card>
    <ion-card class="dia">Etica para el trabajo                 <div>56%</div> </ion-card>
  </ion-card>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-back-button color="dark" text="Volver" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-footer>