<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-title class="titulo_principal">Inicio</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding-top: 5px;padding-bottom: 5px;">
    <ion-title style="text-align: center;" >Tus mensajes</ion-title>
    <ion-card style="padding: 5px;">
      <ion-title style="text-align: center;"><strong>Proceso de portafolio</strong></ion-title>
      <div style="text-align: justify;">
        Estimados alumnos, informo que por motivos de fuerza mayor la clase de hoy será suspendida, espero podamos recuperar prontamente la clase.
      </div>
    </ion-card>
    <div style="display: flex; justify-content: end; padding-right: 5px;"><ion-button fill="clear" style="color: #737373;">Aceptar</ion-button></div>
  </ion-card>
  <ion-card style="padding: 5px;">
    <ion-title style="text-align: center;"><strong>Horario del dia</strong></ion-title>
    <ion-card style="padding: 5px;">
      <strong>Ética para el trabajo</strong>
      <div>
        12:10 - 13:40 <br>
        Sigla de la asignatura: EAY4450-003D <br>
        Profesor: Emiliano Gonzalez Araos <br>
        Sala: Número 201 <br>
        Sede: Melipilla
      </div>
    </ion-card>
    <ion-card style="padding: 5px;">
      <strong>Estadistica descriptiva</strong>
      <div>
        13:50 - 15:40 <br>
        Sigla de la asignatura: MAT4140-003D <br>
        Profesor: Cecilia Barrera Nueva <br>
        Sala: Número 301 <br>
        Sede: Melipilla
      </div>
    </ion-card>
    <ion-card style="padding: 5px;">
      <strong>Ética para el trabajo</strong>
      <div>
        12:10 - 13:40 <br>
        Sigla de la asignatura: EAY4450-003D <br>
        Profesor: Emiliano Gonzalez Araos <br>
        Sala: Número 201 <br>
        Sede: Melipilla
      </div>
    </ion-card>
    <ion-card style="padding: 5px;">
      <strong>Ética para el trabajo</strong>
      <div>
        12:10 - 13:40 <br>
        Sigla de la asignatura: EAY4450-003D <br>
        Profesor: Emiliano Gonzalez Araos <br>
        Sala: Número 201 <br>
        Sede: Melipilla
      </div>
    </ion-card>
    <ion-card style="padding: 5px;">
      <strong>Ética para el trabajo</strong>
      <div>
        12:10 - 13:40 <br>
        Sigla de la asignatura: EAY4450-003D <br>
        Profesor: Emiliano Gonzalez Araos <br>
        Sala: Número 201 <br>
        Sede: Melipilla
      </div>
    </ion-card>
    <ion-card style="padding: 5px;">
      <strong>Ética para el trabajo</strong>
      <div>
        12:10 - 13:40 <br>
        Sigla de la asignatura: EAY4450-003D <br>
        Profesor: Emiliano Gonzalez Araos <br>
        Sala: Número 201 <br>
        Sede: Melipilla
      </div>
    </ion-card>
    <ion-card style="padding: 5px;">
      <strong>Ética para el trabajo</strong>
      <div>
        12:10 - 13:40 <br>
        Sigla de la asignatura: EAY4450-003D <br>
        Profesor: Emiliano Gonzalez Araos <br>
        Sala: Número 201 <br>
        Sede: Melipilla
      </div>
    </ion-card>
  </ion-card>
</ion-content>